@using System.Security.Claims
@{
    ViewData["Title"] = "Home Page";
    var userLogin = User.Claims.ToList();
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tin Tin Co.,Ltd</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Product">Product</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <strong class="nav-link text-danger" href="#"></strong>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary btn-sm" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Identity.Name
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-item" asp-action="ListOrder" asp-controller="Product">Lịch Sử Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                    
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Create">Register</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>